.ea-warning {
    display: none;
}
.ea-active-warning {
    color: #d32f2f !important;
    font-weight: 500;
    display: inline;
}
.ea-hidden {
    display: none !important;
}

.ea-hidden-input {
    display: none !important;
}

.ea-step {
    padding: 20px 0 0 0;
}

.ea-container {
    height: 700px;
    position: relative;
}

.ea-step-content {

}

.ea-step-footer {
    position: absolute;
    bottom: 0;
}

.ea-field[type="radio"] {
    display: none;
}
.ea-field[type="radio"]:checked+label {
    background-color: #0579ff;
    color: #ffffff;
}
.ea-full-width-item {
    width: 80%;
}

input.ea-field, textarea.ea-field {
    width: 100%;
    align-content: center;
}

.ea-form {
    max-width: 780px;
    min-width: 350px;
    align-content: center;
}